<div class="book-shelf-container p-6">
  <!-- <ng-container
    *ngIf="loading$ | async; then loading; else loaded"
  ></ng-container> -->

  <ng-template #loading> Loading... </ng-template>

  <ng-template #loaded>
    <section
      *ngIf="this.gamebooks$ | async as gamebookList; else noData"
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
    >
      <reader-book
        *ngFor="let gamebook of gamebookList"
        [book]="gamebook"
        fxFlex.gt-lg="20%"
        fxFlex.lg="25%"
        fxFlex.md="33%"
        fxFlex.sm="50%"
        fxFlex.xs="100%"
      ></reader-book>
    </section>

    <ng-template #noData> No gamebooks </ng-template>
  </ng-template>
</div>
