<div class="container">
  <span class="mat-h1" fxLayout="row" fxLayoutAlign="center center"
    >MS Example Ticketing</span
  >
  <mat-card>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <Input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <Input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <button
            mat-button
            type="submit"
            [disabled]="!this.signUpForm.enabled"
          >
            Sign Up
          </button>
          <a routerLink="/sign-in">Sign in instead</a>
        </div>
        <span *ngIf="!this.signUpForm.enabled">Trying to sign Up...</span>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
