<mat-toolbar fxLayoutAlign="space-between center" color="primary">
  <a> Nubia Gamebooks </a>
  <div class="center-block" fxLayout="row" fxLayoutAlign="center center">
    <span class="page-tile">{{ pageTitle }}</span>
    <!-- <form [formGroup]="userSwitchForm" class="pl-4">
      <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <mat-select formControlName="user">
          <mat-option
            *ngFor="let user of userList$ | async"
            [value]="user?.username"
          >
            {{ user?.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form> -->
  </div>
  <div class="button-container">
    <button
      *ngIf="buttonName && buttonLink"
      [routerLink]="buttonLink"
      mat-flat-button
      color="accent"
    >
      {{ buttonName }}
    </button>
  </div>
</mat-toolbar>
