<!-- <ng-container *ngIf="loading$ | async; then loading; else loaded">
</ng-container> -->

<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<ng-template #loaded>
  <div *ngIf="this.gamebook$ | async as gamebook">
    <section fxLayout="column" class="chapter-container">
      <!-- <div *ngIf="gamebook.lastChapterRead?.id">
        <button
          mat-icon-button
          color="accent"
          [matTooltip]="gamebook.lastChapterRead?.title || ''"
          [matTooltipDisabled]="!gamebook.lastChapterRead?.title"
          (click)="goBack(gamebook?.id)"
        >
          <mat-icon>arrow_back</mat-icon> Go Back
        </button>
      </div> -->

      <mat-card>
        <!-- <mat-card-title class="pb-4">
          {{ gamebook?.chapterToRead?.title }}
        </mat-card-title> -->
        <!-- <mat-card-content>
          <p [innerHTML]="gamebook?.chapterToRead?.content"></p>
        </mat-card-content> -->
        <mat-divider></mat-divider>
        <!-- <mat-card-actions *ngIf="gamebook?.chapterToRead?.isEndingChapter">
          <div
            class="m-2 mat-caption"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <span>
              Congratulations. You've made it to the end of
              {{ gamebook?.title }}.
            </span>
            <a [routerLink]="['/choices', gamebook.id]" mat-flat-button>
              See what choices you've made during your read
            </a>
            <button
              (click)="resetChoices(gamebook.id)"
              mat-flat-button
              color="warn"
            >
              Reset your choices and go back to the beggining
            </button>
          </div>
        </mat-card-actions> -->
        <!-- <mat-card-actions *ngIf="!gamebook?.chapterToRead?.isEndingChapter">
          <button
            mat-button
            (click)="makeChoice(gamebook.id, progression.id)"
            *ngFor="let progression of gamebook?.progressionsFromChapter"
          >
            {{ progression?.descriptor }}
          </button>
        </mat-card-actions> -->
      </mat-card>
    </section>
  </div>
</ng-template>
